<a href="https://colab.research.google.com/github/simranbhurat/DM2-Project/blob/Simran/notebooks/Baseline_model_ones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
submission_jan = pd.read_csv('/content/drive/MyDrive/DMC_2022_task/submission_jan.csv', sep = '|')
submission_jan['prediction'] = 1
submission_jan

      userID  itemID  prediction
0          0   20664           1
1          0   28231           1
2         13    2690           1
3         15    1299           1
4         15   20968           1
...      ...     ...         ...
9935   46118   20106           1
9936   46124   19677           1
9937   46125   12878           1
9938   46127    7963           1
9939   46130     395           1

[9940 rows x 3 columns]

In [7]:
submission_jan.to_csv("/content/drive/MyDrive/DMC_2022_task/simran/baseline_jan_ones.csv")